# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
server/node_modules
server/config/.env
dist
dist-ssr
*.local
server/uploads/*
server/uploads/*.jpg
server/uploads/*.png
server/uploads/*.jpeg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
